<!-- ======= Hero Section ======= -->
<section id="hero">
  <div
    id="heroCarousel"
    data-bs-interval="5000"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner" role="listbox">
      <!-- Slide 1 -->
      <div
        class="carousel-item active"
        style="background-image: url(assets/img/slide/slide-1.jpg)"
      >
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Seja Bem Vindo ao <span>PortalVegan</span></h2>
            <p>
              Aqui você vai ter contato com a comunidade Vegana, tenha contato
              com outros usuários postando sobre cultura, restaurantes e novas
              receitas!
            </p>
            <div class="text-center">
              <a href="" class="btn-get-started">Cadastre-se</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div class="col-lg-6" data-aos="fade-right">
        <h2>Bem vindo ao PortalVegan!</h2>
        <h3>A primeira rede social de veganos do Brasil.</h3>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
          Interaja com a comunidade, e descubra as últimas novidades do universo vegano.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Encontre Novas Receitas.</li>
          <li><i class="ri-check-double-line"></i> Encontre restaurantes veganos próximos a sua localização.</li>
          <li>
            <i class="ri-check-double-line"></i> Saiba as últimas noticias da comunidade!</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
<!-- End Hero -->
<section id="about-us" class="about-us">
  <div class="container" data-aos="fade-up">
    <div class="row content">
      <div
        class="col-12 col-lg-6 borda-verde espaco-direito"
        data-aos="fade-right"
      >
        <app-login-area></app-login-area>
      </div>
      <div class="col-12 col-lg-6 espaco-esquerdo" data-aos="fade-left">
        <app-cadastro></app-cadastro>
      </div>
    </div>
  </div>
</section>
