<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Publicações Recentes</h2>
      <!-- <ol>
        <li><a href="index.html">Home</a></li>
        <li>Blog</li>
      </ol> -->
    </div>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry" *ngIf="noticiasPaginas.length == 0">
          <h4>Não há Publicações recentes</h4>
        </article>
        <article
          class="entry"
          *ngFor="let publis of noticiasPaginas[paginaAtual]"
        >
          <div class="entry-img">
            <img
              src="{{ repositorio + publis.imagem }}"
              alt=""
              class="img-fluid"
            />
          </div>
          <h2 class="entry-title">
            <a>{{ publis.titulo }}</a>
          </h2>
          <div class="entry-meta">
            <ul>
              <li class="d-flex align-items-center">
                <i class="bi bi-person"></i> <a>@{{ publis.apelido }}</a>
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-clock"></i>
                <a
                  ><time datetime="2020-01-01">{{
                    publis.dtCriacao | date: "MMM dd, yyyy"
                  }}</time></a
                >
              </li>
              <li class="d-flex align-items-center">
                <i class="bi bi-chat-dots"></i
                >{{ publis.qtdComentarios }} Comentários
              </li>
            </ul>
          </div>
          <div class="entry-content">
            <div class="read-more">
              <button
                class="btn btn-success btn-sm"
                style="margin: 5px"
                (click)="lerPublicacao(publis.id)"
              >
                <i class="bi bi-book"></i> Ler
              </button>
            </div>
          </div>
        </article>
        <!-- End blog entry -->
        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li
              *ngFor="let pag of noticiasPaginas; let i = index"
              class="{{ i == paginaAtual ? 'active' : '' }}"
            >
              <a style="cursor: pointer" (click)="paginaAtual = i">{{
                i + 1
              }}</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- End blog entries list -->
      <div class="col-lg-4">
        <div class="sidebar">
          <h3 class="sidebar-title">Pesquise Publicações</h3>
          <div class="sidebar-item search-form">
            <form action="">
              <input type="text" />
              <button type="submit"><i class="bi bi-search"></i></button>
            </form>
          </div>
          <!-- End sidebar search formn-->
          <!-- End sidebar -->
        </div>
        <app-recentes [atualiza]="false"></app-recentes>
      </div>
      <!-- End blog sidebar -->
    </div>
  </div>
</section>
<!-- End Blog Section -->
